@CHARSET "ISO-8859-1";

/* Menu Bar related sheets go here. */

.menubar ul{
	list-style-type:none;
	
	
	/*Positioning*/
	margin-bottom:25px;
	overflow:hidden;
	width: 600px;
}

.menubar li{
	display:block;
	float:left;
}

.menubar li a{
	background-color:#aa99aa;
	border-radius: 8px;
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #ffff40;
	transition:0.5s;
	
	margin:5px;
}
.menubar li a:hover{
	background-color: #996699;
	transition: 0.5s;
}

.quicklinks:hover .quicklinks-content{
	display: block;
}

.quicklinks-content{
	position:absolute;
	background-color:#dddddd;	
	border:solid crimson 1px;

	text-decoration:none;
	z-index:1;
	
	margin-top:-10px;
	display:none;
	position:absolute;
}

/* End of Menu Bar related sheets*/

h3{
	border-radius: 4px;
	background-color:#aa77aa;
	color:gold;
	display:inline-block;
	padding:10px;
	margin-left: 30px;
}


ul.employeedetails{
	list-style-type:none;
}
li.employeedetails{
}
span.employeedetails{
	background-color:#80df80;
	color:navy;
	display:inline-block;
	text-align:center;
	margin:2px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:-15px;
	width:90px;
	height:16px;
}

span.employeedetails:hover{
	background-color:#00ff80;
}

span.employeedetails:hover .employeetooltip{
	visibility:visible;
}
span.employeedetails .employeetooltip{
	visibility:hidden;
	
	background-color: silver;
	border-radius: 15px;
	padding: 5px;
	
	position: absolute;
	bottom:35%;
	left:10%;
	margin-left:-60px;
	z-index:1;
}
select.employeedetails{
	border:none;
	background-color: #686868;
	color:white;
	position:absolute;
	height:23px;
	width:150px;
}
input[type=text].employeedetails{
	position:absolute;
	background-color:#000055;
	color:gold;
	transition:0.5s;	
}
input[type=text].employeedetails:focus{
	background-color: lightblue;
	color:#323232;
	transition:0.5s;
}
input[type=number].employeedetails{
	position:absolute;
}
input[type=submit].employeedetails{
	border:none;
	border-radius:5px;
	background-color:#555555;
	color:white;
	padding: 10px;
	transition:0.5s
}
input[type=submit].employeedetails:hover{
	background-color: #bbbbbb;
	color:black;
	transition:0.5s;
}
body{
	background-color: #bbbbbb;
}

table{
	border-collapse:collapse;
}
th{
	background-color:#994499;
	color:#cccc40;
}

tr{
	background-color: #eeeeee;
	color:#333333;
	transition: 0.5s;
}

tr:hover{
	background-color :#cccccc;
	transition: 0.5s;
}
tr:nth-child(odd){
	background-color: #444444;
	color: #eeeeee;
	transition:0.5s;
}
tr:nth-child(odd):hover{
	background-color: #666666;
	transition: 0.5s;
}
tr a{
	border-radius:3px;
	
	background-color: #5588cc;
	color:gold;
	text-decoration:none;
	padding:3px;
	transition:0.5s;
}


tr a:hover{
	background-color: #3366aa;
	transition:0.5s;
}

a.returnbtn{
	border:solid purple 1px;
	border-radius:5px;
	background-color:#aa77aa;
	color:gold;
	display:inline-block;
	text-decoration:none;
	padding:10px;
	transition:0.5s;
}
a.returnbtn:hover{
	background-color: #885588;
	transition:0.5s;
}

span.errordetails{
	display:block;
	position: relative;
}


/*TABLE DETAILS */
.tabledetails tr {
   
}

.tabledetails-content {
	border: 1px solid blue;
    display: none;
    position: absolute;
    background-color: #b9b9f9;
    color:#6b6b44;
    min-width: 160px;
    padding: 12px 16px;
    margin: 30px;
    border-color:red;
    z-index:1;
}

.tabledetails tr:hover .tabledetails-content {
    display: inline-block;
}

/* DELETE */

body.deleteclient {
	background-color: #cc2222;
	
}

input[type=submit].deleteclient{
	border:none;
	padding: 10px;
	background-color:white;
	color:black;
	transition:0.5s;
}

input[type=submit].deleteclient:hover{
	background-color: black;
	color:white;
	transition:0.5s;
}

p.deleteclient{
	background-color:yellow;
	color:black;
}

.notavailable{
	border-radius:3px;
	
	display:inline;
	
	background-color: silver;
	padding: 4px;
}

/* DELETE*/